  html, body{
    display:flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #e8e8e8;
}
h1{
    margin-top: 1rem;
}
p{
    margin: 0;
}

/* APP TITLE*/
#apptitle{
    font-family:sans-serif;
    font-size: x-large;
    text-align: center;
    padding-top: 3rem;
}
#info{
    font-family:sans-serif;
    text-align: center;
}
@media (max-width: 1280px) {
#apptitle{
    font-size: medium;
    }
}
@media (max-width: 576px) {
    #apptitle{
        font-size: small;
    }
}
/* END OF APP TITLE*/


/* CARD*/
.card{
    display: flex;
    width: 8rem;
    max-width: 8rem;
    height: 3rem;
    background-color: rgb(4, 0, 255);
    border-radius: 0.5rem;
    margin: 1rem;
    padding-inline: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    align-items: center;
    justify-content: center;
}
.card a{
    color: white;
    text-decoration: none;
}

.card:hover{
    transition: 0.25s ease-in-out;
}

@media (max-width: 576px){
    .card{
        height: 2.5rem;
        width: 6rem;
        font-size: medium;
    }
}

/*END OF CARD*/

/* CUSTOM BUTTON */
.btn {
    width: 130px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
   }
   
   .btn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   
   .btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
   }



/* TESTS FIELD*/

#tests{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}
#tests a{
    color: white;
    text-decoration: none;
}

@media (max-width: 576px) {
    #tests{
        display:grid;
        justify-content: center;
    }
}

/*END OF TESTS FIELD*/

/* MAINCANVAS */

#canvasbg{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    border-radius: 1rem;
    border: 1px solid #ddd;
    padding: 3rem;
}
#maincanvas{
    padding: 3rem;
}
@media (max-width: 1280px) {
    #canvasbg{
        width: 100%;
        max-width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: none;
        border: none;
    }
}
@media (max-width: 576px) {
    #canvasbg{
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: none;
        border: none;
        padding: 0;
    }
}

/* END OF MAINCANVAS*/

/* INFO */
#info {
    margin-top: 3rem;
}
#info p{
    font-size: large;
}
