.sortable li {
    border: 0.35rem solid #fc030300;
}
.sortable{
    margin-right: 30px;
}
@media (max-width: 576px) {
    .sorualani h2{
        margin-inline: 1.2rem;
    }
    .soru {
        flex-direction: column; 
        align-items: center; 
        padding: 1rem;
    }
    .sortable{
        margin-right: 0;
    }
    .soru .actions {
        align-items: center; 
        
    }
    .etiket{
        font-size: small;
        height: 5rem;
        width: 30px;
    }
    .result {
        text-align: left;
    }
    #baslik{
        font-size: 1.2em;
        text-align: justify;
        margin-bottom: 2.5rem;
    }
}

